# QtCreator files
*.pro.user*
*.autosave
CMakeLists.txt.user*

# KDevelop files
*.kdev4
*.kate-swp

# Sublime text workspace file
*.sublime-workspace

# Build dir
build/*
build-kdev/*

# Vagrant
.vagrant

# Data files in test
MNIST_data

# Scripts
scripts

# python
.cache
__pycache__
*.pyc
