[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/docopt.cpp"]
	path = thirdparty/docopt.cpp
	url = https://github.com/docopt/docopt.cpp.git
