# QtCreator files
*.pro.user*
*.autosave
CMakeLists.txt.user*

# VSCode files
.vscode

# KDevelop files
*.kdev4
*.kate-swp

# Sublime text workspace file
*.sublime-workspace

# Build dir
build/*
build-*/*
spack_packages

# Vagrant
.vagrant

# Data files in test
MNIST_data
tests/*.output
tests/verbose.log

# Scripts
scripts/**
!scripts/*.sh
!scripts/Note
!scripts/nvvpreader
!scripts/**/*.py

# python
.cache
__pycache__
*.pyc
