# QtCreator files
*.pro.user*
*.autosave
CMakeLists.txt.user*

# VSCode files
.vscode

# KDevelop files
*.kdev4
*.kate-swp

# Sublime text workspace file
*.sublime-workspace

# Build dir
build/*
build-*/*
spack_packages
spack-packages

# Vagrant
.vagrant

# Data files in test
MNIST_data
tests/*.output
tests/verbose.log
!tests/test_tf
!tests/test_tf/**
!tests/driver
!tests/driver/**

# Scripts
# python
.cache
__pycache__
*.pyc

# CLion
.idea
