tensorflow
backports.tempfile ; python_version < '3.2'
future
psutil
absl-py
future-fstrings
enum34 ; python_version < '3.4'
numpy==1.14.0
green==2.11.0
parameterized==0.6.1
pathlib2 ; python_version < '3'
typing ; python_version < '3.5'
