-- alloc
* GLOBAL:
    Enabled = true
    To_Standard_Output = false
    To_File = true
    Filename = "/tmp/alloc.output"
-- default
* GLOBAL:
    Enabled = true
    To_File = true
    Filename = /tmp/server.output
-- performance
* GLOBAL:
    Enabled = false
-- optracing
* GLOBAL:
    Enabled = false
