-- alloc
* GLOBAL:
    Enabled = true
    To_Standard_Output = false
    To_File = true
    Filename = "/tmp/alloc.output"
-- performance
* GLOBAL:
    Enabled = true
    To_Standard_Output = false
    To_File = true
    Filename = "/tmp/perf.output"
-- default
* GLOBAL:
    Enabled = true
    To_File = true
    Filename = /tmp/server.output
* VERBOSE:
    Enabled = false
-- optracing
    Enabled = false
