-- alloc
* GLOBAL:
    Enabled = false
-- performance
* GLOBAL:
    Enabled = false
-- optracing
* GLOBAL:
    Enabled = false
-- default
* GLOBAL:
    Enabled = false
* INFO:
    Enabled = true
    To_File = true
    Filename = /tmp/server.output
* ERROR:
    Enabled = true
    To_File = true
    Filename = /tmp/server.output
